* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Hanken Grotesk', sans-serif;
}
.blue {
    width: 375px;
    height: 356px;
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
    border-radius: 0px 0px 32px 32px;
}
.bluep {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #CAC9FF;
}
.circle {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
}
.of {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #CAC9FF;
    mix-blend-mode: normal;
    opacity: 0.52;
}
.h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 72px;
    text-align: center;
    color: #FFFFFF;
}
.great {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
}
.pp {
    /* width: 260px; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #CAC9FF;
}

.summary {
    margin: 24px 0 30px 0;
    padding: 0 30px 0 30px;
    display: grid;
    width: 375px;
    row-gap: 16px;
}
.summaryp {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #303B59
}
.reaction, .memory, .verbal, .visual {
    width: 315px;
    height: 56px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.reaction {
    margin-top: 8px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FF5555;
}
.memory {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #FFB21E;
}
.verbal {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #00BB8F;
}
.visual {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #1125D6;
}
.spanreaction, .spanmemory, .spanverbal, .spanvisual {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}
.reactionspan1, .memoryspan1, .verbalspan1, .visualspan1 {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #303B59;
}
.reactionspan2, .memoryspan2, .verbalspan2, .visualspan2 {
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #303B59;
    opacity: 0.5;
}
.spanreaction {
    color: #FF5555;
}
.spanmemory {
    color: #FFB21E;
}
.verbal {
    color: #00BB8F;
}
.visual {
    color: #1125D6;
}
button {
    background: #303B59;
    border-radius: 128px;

    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;

    width: 315px;
    height: 56px;
}